@font-face{
     font-family:brandon-grotesque;
     src:url(https://use.typekit.com/af/4fc956/0000000000000000000132df/27/l?subset_id=2&fvd=n4&v=3) format("woff2");
     font-weight:400;
     font-style:normal;
}

@font-face {
      font-family: 'DS-DIGI';
      src: url('/css/fonts/DS-DIGI.TTF') format('truetype');
      font-weight:400;
      font-style:normal;
}

 html {
     margin:0;
     padding:0;
     min-height:100vh;
     min-width:100%;
     width: 100%;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

 body {
     font-family:'Brandon Grotesque','brandon-grotesque',Helvetica,sans-serif;
     text-transform: uppercase;
     margin:0;
     padding:0;
     color:#D4F6FF;
     height: 100%;
     background-color:#070E12;
     background: url(/images/backgroundGradient.png);
     background-size: contain;
     background-repeat: repeat-x;
}
 html::-webkit-scrollbar, body::-webkit-scrollbar { 
    display: none; 
}
 header {
    position: fixed;
    top:0;
    background-color: #181C1F;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 44px;
    text-align: center;
    z-index: 5;
    background-image: url(/images/spacexlogo.png);
    background-size: auto 40%;
    background-repeat: no-repeat;
    background-position: center;
}
 main {
    margin:0 auto;
    width: 100%;
    margin-top: 44px;
    height:100%;
    transition: 0.5s all;
  }

 .dashboard {
     display: block;
     position: relative;
     margin: 20px auto;
     padding: 8px;
     text-align: center;
     opacity: 0;
   }

 #data {
     color:#CCEDF5;
     font-weight:normal;
     font-size:18px;
     text-align:center;
}

#safetybeltButton {
    display: none;
    position: absolute;
    top: 0px;
    width: 60px;
    height: 44px;
    color: black;
    background-image: url(/images/safetybelt.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    text-align: center;
}

#safetybeltButton:active {
    background-color: #31363A;
}

#messageButton {
    position: absolute;
    top: 0px;
    width: 60px;
    height: 44px;
    color: black;
    background-image: url(/images/messages.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    text-align: center;
}

#messageButton:active {
    background-color: #31363A;
}

#backButton {
    display: none;
    width:60px;
    height:44px;
    color:black;
    background-color: #31363a;
    text-align:center;
}

.back {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position:relative;
    top:10px;
}

#backButton:active {
    border-color: #9c9c9c;
    background-color: #9a9a9a;
}

  #fullScreen {
    position: relative;
    top:10px;
    display: none;
    opacity: 0;
    width: 90%;
    margin:0 auto;
  }

  #fullScreen > #panel1, #fullScreen > #panel2, #fullScreen > #panel3, #fullScreen > #panel4, #fullScreen > #panel5, #fullScreen > #panel6 {
  padding:8px;  
  margin:8px auto;
  margin-top:62px;
  text-align: center;
}

  h1 {
     text-decoration: none;
     -webkit-appearance: none;
     font-style: normal;
     font-size: 16px;
     text-align:left;
     font-weight:bold;
     color: #7BDBF3;
     margin-left:10px;
     margin-top:5px;
}
  p.label {
    display: block;
    color: #4987a7 !important;
    margin: 0px;
    margin-top: 15px;
    font-size: 12px !important;
  }
    p.label1 {
    display: inline;
    color: #4987a7 !important;
    margin: 0px;
    font-size: 12px !important;
    margin-right:5px;
  }

  p.label2 {
    display: block;
    color: #4987a7 !important;
    margin: 0;
  }

  p.labelSmall {
    display: inline-block;
    color: #798A8F !important;
    font-size: 12px !important;
    font-weight: bold !important;
    margin: 0;
  }
  p.info {
    display: inline;
    color: #D4F6FF !important;
    font-size: 12px !important;
  }
    p.info1 {
    display: inline-block;
    color: #D4F6FF !important;
    font-size: 12px !important;
    margin:0px !important;
  }
  p.info1 sup {
    color: #D4F6FF !important;
  }

  p#distKM {
    text-transform: lowercase !important;
  }

  sup.lowcase {
    color: #D4F6FF !important;
    text-transform: lowercase !important;
  }
  sub.lowcase {
    color: #D4F6FF !important;
    text-transform: lowercase !important;
  }
  sup.lowcase {
    text-transform: lowercase !important;
  }
/* Styling an indeterminate progress bar */
 progress.progress:not(value) {
    /* Add your styles here. As part of this walkthrough we will focus only on determinate progress bars. */
}
 progress.progress {
      visibility: hidden;
 }
/* Styling the determinate progress element */
 progress.progress[value] {
    /* Get rid of the default appearance */
     appearance: none;
     -webkit-appearance: none;
    /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
     border: none;
    /* Add dimensions */
     width: 80%;
     height: 30px;
    /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
     background-color: #2F7D9E;
     /*box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;*/
    /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
     color: royalblue;
     position: relative;
     margin: 5px;
     margin-bottom:25px;
}
/* Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element. -webkit-progress-bar -> To style the progress element container -webkit-progress-value -> To style the progress element value. */
 progress.progress[value]::-webkit-progress-bar {
     background-color: #2F7D9E;
     /*box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;*/
}
 @keyframes animate-stripes {
     100% {
         background-position: -100px 0;
    }
}
/* Let's spice up things little bit by using pseudo elements. */
 progress.progress[value]::-webkit-progress-value:after {
    /* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! */
     content: '';
     position: absolute;
     width:5px;
     height:5px;
     top:7px;
     right:7px;
     background-color: white;
     border-radius: 100%;
}
 progress.progress[value]::-webkit-progress-value {
    /* Loading Bar Element */
     background-image: -webkit-linear-gradient(top, rgba(212, 246, 255, .25), rgba(133, 150, 157, .25)), -webkit-linear-gradient(left, rgba(30, 49, 59, .85), rgba(212, 246, 255, .85)), -webkit-linear-gradient(bottom, rgba(212, 246, 255, .25), rgba(133, 150, 157, .25));
     background-size: 20% 100%, 100% 100%, 100% 100%;
    /* Let's animate this */
     animation: animate-stripes 5s linear infinite;
}
 #percentage {
     margin-top:8px;
}
 .images {
     border:none;
     margin:10px auto;
     padding:0;
     display: block;
}
 #camera, #camera1 {
     display: block;
     width:80%;
     height: auto;
     border: 1px solid white;
}

 .informationHolder {
    display: grid;
    grid-gap: 10px;
    position: relative;
    margin: 0 auto;
    width: 95%;
    text-align: center;
    color: #CCECF5;
}
 .panel {
    border: 1px dashed #29788c;
    border-radius: 5px;
    padding: 15px;
    padding-bottom: 10px;
    height: auto;
    font-size: 16px;
    background: url(/images/backgroundtexture1.png) repeat 100% 100%;
    outline: none;
    box-shadow: inset 0 0 50px 0 rgba(0, 204, 255, 0.5);
}

  #panel1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
 }

 #panel2 {
    display: grid;
    grid-template-columns: auto auto;
 }

 #panel3 {
    display: grid;
    grid-template-columns: auto auto;
 }

 #panel3 .speedometerwrapper {
    /*transform: scale(0.4) translate(0%, 0%);*/
    padding:0 !important;
    margin:0 auto !important;
    position:relative;
    top:0 !important;
    left:0 !important;
    bottom:0 !important;
    right:0 !important;
 }

 #panel3 .speed {
   padding:0px !important;
   margin:0 auto !important;
   width: 50%;
 }

 #panel4 {
 }

 #panel5 {
  display: grid;
  grid-template-columns: auto;
 }

 .speed {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
 }

 #speedDigital1, #speedDigital2, #averageSpeed1, #averageSpeed2 {
  font-family: 'DS-DIGI', brandon-grotesque, sans-serif !important;
  font-size: 16px !important;
 }

 .informationHolder .panel:active {
     background-color: #5e98b7 !important;
     border: 1px dashed #D4F5FE !important;
     font-weight: bold;
     height: auto;
     padding-bottom: 10px;
 }

 .informationHolder .panel:active h1, .informationHolder .panel:active h2 {
     color: white !important;
 }

 .informationHolder .panel:active p.info {
     color: #CCF4FE !important;
 }

 .informationHolder .panel:active p.label {
     color: #6CC6DC !important;
 }

 .informationHolder .panel:active p.labelSmall {
     color: #6CC6DC !important;
 }

 .subjectTime {
  border: 1px solid white;
  padding-left:15px;
 }

 .subjectTime:active {
  border: 1px solid #CEF0F6;
 }

 .message {
  display: none;
  margin: 15px auto;
 }

 #messagewrapper {
     padding:15px;
 }

 #messagewrapper h2, #messagewrapper h2 sup {
     text-decoration: none;
     -webkit-appearance: none;
     font-style: normal;
     font-size: 16px !important;
     text-align:left;
     font-weight:bold;
     color: #1D7697 !important;
     margin-top:5px;
     font-size: 16px !important;
     text-transform: none !important;
 }

  p.messageTime, p.messageTime sup {
     text-decoration: none;
     -webkit-appearance: none;
     font-style: normal;
     font-size: 15px !important;
     text-align:left;
     font-weight:normal;
     color: #74A3BC !important;
     margin-top:5px;
     font-size: 12px !important;
 }

 p.message, p.message sup {
     text-decoration: none;
     -webkit-appearance: none;
     font-style: normal;
     font-size: 16px !important;
     text-align:left;
     font-weight:normal;
     color: #D4F6FF !important;
     margin-top:5px;
     font-size: 16px !important;
     text-transform: none !important;
 }


 #panel1 {
     order:1;
}
 #panel2 {
     order:2;
}
 #panel3 {
     order:3;
}
 #panel4 {
     order:4;
}
 #panel5 {
     order:5;
     opacity: 1;
 }
  #panel6 {
     display: none;
 }

  #tipBubble {
    display: none;
    opacity: 0;
    position: absolute !important;
    top: 30px;
    left: 103px;
    z-index: 6;
    background-color: #CEF0F6 !important;
    width: 242px;
    height: auto;
    border: 1px solid black;
    border-radius: 8px;
    transition: 0.1s all;
    box-shadow: 2px 2px 22px -1px black;
 }

 #tipBubble p {
     font-size:11px !important;
     text-transform: none !important;
     color: black;
     padding-left: 15px;
     padding-right:15px;
     top:10px;
 }


#o2co2 {
  border:1px solid black;
  background-color: white;
  width:200px;
  height:100px;
  position: relative;
  display: block;
}

.speedometerwrapper {
  position: relative;
  margin: 0 auto;
  padding:0;
  border:0;
  text-align: center;
  width: 75%;
  height: fit-content;
}

.speedometer {
  position: relative;
  border-radius: 50%;
  border: 3px solid #223f4f;
  width: inherit;
  z-index: 0;
}

.pointer {
  image-rendering: auto;
  position: absolute;
  border:0;
  margin:0;
  padding:0;
  width: inherit;
  left: 14%;
  bottom: 10px;
  transform-origin: 50% center;
  transform: rotate(0deg);
  transition: 0.5s all;
  transition-timing-function: linear;
  z-index: 1;
}

.speedonspeedometer {
   position: absolute;
}

#attention {
    display: none;
    margin: 64px auto;
    padding: 30px;
    height: fit-content;
    z-index: 5;
    width: 70%;
    border: 2px dashed red;
    margin-top: 0;
}

.iconMessageWrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
}

#attentionIcon {
    position: relative;
    display: none;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
}

 h1#attentionTitle, h1#attentionTitle sup {
     text-decoration: none;
     -webkit-appearance: none;
     font-style: normal;
     font-size: 20px;
     text-align:center;
     font-weight:bold;
     color: red;
     margin-top:5px;
     font-size: 16px;
     text-transform: none;
 }

#attentionMessage {
     text-decoration: none;
     -webkit-appearance: none;
     font-style: normal;
     font-size: 15px;
     text-align:center;
     font-weight:normal;
     color: red;
     margin-top:5px;
     font-size: 16px;
     text-transform: none;
}

 .buttonWrapper {
    display: none;
    position: relative;
    border: 2px solid #266DA2;
    -webkit-appearance: none;
    background-color: #7BA9CE;
    margin: 0 auto;
    text-align: center;
    width: 97px;
    height: 44px;
    box-shadow: 0 0px 17px 5px #2E6288;
 }

  .buttonWrapper:active {
    border-color:#00569c;
    box-shadow: 1px 1px 17px 3px #2E6288;
  }

  .buttonWrapper:active .okbutton {
    box-shadow: 3px 3px 17px 5px #2E6288;
  }

 .okButton {
    position: relative;
    -webkit-appearance: none;
    outline: none;
    border: 5px solid transparent;
    -webkit-appearance: none;
    color: white;
    background-color: #7BA9CE;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    margin: 10px auto;
    width: 80px;
    height: 25px;
    box-shadow: 0 0px 17px 5px #2E6288;
    text-transform: uppercase;
 }

    /* LANDSCAPE */
    @media only screen and (max-width: 1600px){
      /* My laptop: 1600x900: */
         .informationHolder {
             grid-template-columns: auto auto auto;
        }
        #panel1, #panel2, #panel3, #panel4, #panel5, #panel6 {
          width:auto !important;
        }

        #attention {
          margin-top: 250px;
          width:50%;
        }

        #tipBubble {
          left: 1308px;
        }

        .dashboard .informationHolder #panel3 {
          grid-template-columns: auto auto;
        }

        #fullScreen #panel3 {
            grid-template-columns: auto auto;
            padding: 25px;
        }

        #fullScreen {
          width: 85% !important;
        }

        #fullScreen #panel4 {
          width: 85% !important;
        }

        #fullScreen .speedometerwrapper {
            transform: scale(0.9) !important;
            margin: 0 !important;
            left: 10% !important;
            position: relative;
        }

        #messageButton {
          left: 92%;
        }

        #safetybeltButton {
          left: 92%;
        }

        #o2co2Holder {
            width: 100% !important;
            margin: 0 auto;
        }

        #fullScreen #panel4 #o2co2Holder #o2co2 {
          height: 60vh;
          width: 100%;
        }

        .dashboard #panel4 #o2co2Holder #o2co2 {
          height: 30vh;
          width: 100%;
        }


    }

    @media only screen and (max-width: 1067px) and (orientation: landscape){
         /* Device with 800x480 px */
         .informationHolder {
             grid-template-columns: auto auto !important;
        }
        #panel1, #panel2, #panel3, #panel4, #panel5, #panel6 {
          width:95% !important;
        }

        #fullScreen .speedometerwrapper {
            transform: scale(1) !important;
            margin: 0 !important;
            left: 10% !important;
            position: relative;
        }

        #fullScreen #panel6 {
            width: 90% !important;
        }

        #fullScreen {
            width: 90% !important;
        }

        #fullScreen #panel3 {
          grid-template-columns: auto auto;
        }

        #messageButton {
          left: 90%;
        }

        #safetybeltButton {
          left: 90%;
        }

        #attention {
          width: 70%;
          margin: 64px auto;
        }

        #o2co2Holder {
          width: 100% !important;
          margin: 0 auto;
        }

        .informationHolder {
            display: grid;
            grid-gap: 10px;
            position: relative;
            margin: 0 auto;
            width: 95%;
            text-align: center;
            color: #CCECF5;
            left: -0.5%;
        }

        #tipBubble {
          left:800px;
        }


    }

    @media only screen and (max-width: 736px) and (orientation: landscape){
         /* Device with 414x736 px */
         .informationHolder {
             grid-template-columns: auto !important;
        }
        #panel1, #panel2, #panel3, #panel4, #panel5, #panel6 {
          width:95% !important;
        }

        #fullScreen #panel3 {
          grid-template-columns: auto auto;
        }

        #messageButton {
          left: 90%;
        }

        #safetbeltButton {
          left: 90%;
        }

        #attention {
          width: 70%;
          margin: 64px auto;
        }
    }

        @media only screen and (max-width: 732px) and (orientation: landscape){
         /* Device with 412x734 px */
         .informationHolder {
             grid-template-columns: auto !important;
        }
        #panel1, #panel2, #panel3, #panel4, #panel5, #panel6 {
          width:95% !important;
        }

        #fullScreen #panel3 {
          grid-template-columns: auto auto;
        }

        #messageButton {
          left: 92%;
        }

        #safetybeltButton {
          left: 92%;
        }

        #attention {
          width: 70%;
          margin: 64px auto;
        }
    }

    @media only screen and (max-width: 640px) and (orientation: landscape){
         .informationHolder {
             grid-template-columns: auto !important;
        }
        #panel1, #panel2, #panel3, #panel4, #panel5, #panel6 {
          width:auto !important;
        }

        #fullScreen #panel3 {
          grid-template-columns: auto auto;
          width: fit-content !important;
          padding: 10px;
        }

        #fullScreen .speedometerwrapper {
          transform: scale(1);
        }
        
        #messageButton {
          left: 90%;
        }

        #safetybeltButton {
          left: 90%;
        }

        #attention {
          width: 70%;
          margin: 64px auto;
        }

        #o2co2Holder {
            width: 100% !important;
            margin: 0 auto;
        }

        #fullScreen #panel4 #o2co2Holder #o2co2 {
          height: 60vh;
          width: 100%;
          transform: scale(0.75);
        }

        .dashboard #panel4 #o2co2Holder #o2co2 {
          height: 30vh;
          width: 100%;
          transform: scale(0.7);
        }
    }

    /* PORTRAIT */
    @media only screen and (max-width: 640px) and (orientation: portrait){
         .informationHolder {
             grid-template-columns: auto !important;
        }
        
        #panel1, #panel2, #panel3, #panel4, #panel5 {
          width:auto !important;
        }

        #fullScreen #panel6 {
          width:90% !important;
        }

        #fullScreen {
          width:85%;
        }

        #fullScreen .speedometerwrapper {
          transform: scale(1.0);
          margin: 35px !important;
          position: relative;
        }

        #panel2, #panel3, #panel4, #panel5, #panel6 {
          height:23px;
          overflow: hidden;
        }

        #fullScreen #panel3 {
          grid-template-columns: auto;
        }

        #messageButton {
          left: 85%;
        }

        #safetybeltButton {
          left: 85%;
        }

        #attention {
          width: 70%;
          margin: 64px auto;
        }

        #o2co2Holder {
            width: 100% !important;
            margin: 0 auto;
        }

        #fullScreen #panel4 #o2co2Holder #o2co2 {
          height: 60vh;
          width: 100%;
        }

        .dashboard #panel4 #o2co2Holder #o2co2 {
          height: 30vh;
          width: 100%;
        }

        #tipBubble {
            left: 358px;
        }
    }

    @media only screen and (max-width: 414px) and (orientation: portrait){
         .informationHolder {
             grid-template-columns: auto !important;
        }
        #panel1, #panel2, #panel3, #panel4, #panel5, #panel6 {
          width:auto !important;
        }

        #panel2, #panel3, #panel4, #panel5, #panel6 {
          height:23px;
          overflow: hidden;
        }

        #fullScreen #panel3 {
          grid-template-columns: auto;
        }

        #messageButton {
          left: 85%;
        }

        #safetybeltButton {
          left: 85%;
        }

        #attention {
          width: 70%;
          margin: 64px auto;
        }
    }

    @media only screen and (max-width: 412px) and (orientation: portrait){
         .informationHolder {
             grid-template-columns: auto !important
             margin-top: 7px !important;        }
        #panel1, #panel2, #panel3, #panel4, #panel5, #panel6 {
          width:auto !important;
        }

        #fullScreen #panel3 {
          grid-template-columns: auto;
        }

        #panel2, #panel3, #panel4, #panel5, #panel6 {
          height:23px;
          overflow: hidden;
        }

        #messageButton {
          left: 85%;
        }

        #safetybeltButton {
          left: 85%;
        }

        #attention {
          width: 70%;
          margin: 64px auto;
        }
    }

    @media only screen and (max-width: 360px) and (orientation: portrait){
        /* My phone: Device with 360x640 px */;
         .informationHolder {
             grid-template-columns: auto !important;
        }
        #panel1, #panel2, #panel3, #panel4, #panel5, #panel6 {
          width:auto !important;
        }

        #panel2, #panel3, #panel4, #panel5, #panel6 {
          height:23px;
          overflow: hidden;
        }

        #fullScreen #panel3 {
          grid-template-columns: auto;
        }

        #fullScreen #panel4 {
            width: 90% !important;
        }

        #messageButton {
          left: 83%;
        }

        #safetybeltButton {
          left: 83%;
        }

        #attention {
          width: 70%;
          margin: 64px auto;
        }

        #o2co2Holder {
            width: 100% !important;
            margin: 0 auto;
        }

        #fullScreen #panel4 #o2co2Holder #o2co2 {
          height: 60vh;
          width: 100%;
        }

        .dashboard #panel4 #o2co2Holder #o2co2 {
          height: 30vh;
          width: 100%;
        }

        #fullScreen .speedometerwrapper {
            transform: scale(1.6);
            margin: 0 !important;
            left: 0 !important;
            position: relative;
        }
    }